.desktopHome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.mobileHome {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.textContainer, .imageContainer {
    flex: 1;
}

.imageContainer {
    background-color: var(--primary-pink);
    min-height: 300px;
    min-width: 300px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.buttonOptions {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
}