.desktopHome {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 2rem;
}

.mobileHome {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (max-width: 490px) {
  .buttonOptions > * {
    width: 100%;
  }

  .buttonOptions > * > button {
    width: 100%;
  }

  .imageContainer {
    aspect-ratio: 1 / 1;
  }
}

.imageContainer {
  flex-shrink: 0;
  min-height: 100px;
  min-width: 100px;
  display: flex;
  justify-content: center;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.buttonOptions {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
}

.modalTitle {
  line-height: 0.3;
}

.modalDescription {
  margin-bottom: 12px;
}

.scanningText {
  margin-top: 12px;
}

.errorText {
  color: red;
  margin-top: 8px;
}

.modalFooter {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  align-items: center;
}
