.desktopPage {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.mobilePage {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.itemsContainer {
  width: 60%;
}

.itemsContainer button {
  font-weight: 600;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.2s ease;
}

.resultsContainer {
  width: 40%;
  background-color: var(--primary-pink);
  min-width: 300px;
  border-radius: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 5%;

  @media (min-width: 768px) {
    min-height: 30px;
  }
}

.resultsHeader {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 0.5rem;
}

.total {
  margin-top: 0.5rem;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  padding-top: 0.5rem;
}
