.desktopPage {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 2rem;
}

.imageContainer {
    min-height: 100px;
    min-width: 100px;
    display: flex;
    justify-content: center;
}

.uploadContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.previewImage {
  border: 4px var(--primary-pink);
  border-radius: 12px;
  max-width: 50%;
  object-fit: contain;
  box-shadow: 0 4px 12px var(--primary-pink);
}