html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;
  --primary-pink: #db195a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Links */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

/* Body Reset */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  cursor: url('/cursors/Yellow.png'), auto;
  padding: 0 5%;
}

/* Headings */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.whiteButton {
  background-color: white;
  color: var(--primary-pink);
  border: 2px solid var(--primary-pink);
  border-radius: 8px;
  padding: 0.75rem 1.5rem;
  font-size: 1.125rem;
  cursor: url('/cursors/Yellow.png'), auto;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  font-weight: 500;
  font-family: inherit;
}

.whiteButton:hover {
  box-shadow: 0 0 12px #db195a, 0 0 24px #db195a;
  border: 2px solid #db195a;
  transform: scale(1.03);
}

.whiteButton:active {
  transform: scale(0.97);
}

.pinkButton {
  color: white;
  background-color: var(--primary-pink);
  padding: 0.75rem 1.5rem;
  font-size: 1.125rem;
  cursor: url('/cursors/Yellow.png'), auto;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  border: 2px solid var(--primary-pink);
  border-radius: 8px;
  font-weight: 500;
  font-family: inherit;
}

.pinkButton:hover {
  box-shadow: 0 0 5px var(--primary-pink), 0 0 14px var(--primary-pink);
  border: 2px solid var(--primary-pink);
  transform: scale(1.03);
}

.pinkButtonActive {
  box-shadow: 0 0 5px var(--primary-pink), 0 0 5px var(--primary-pink);
  border: 2px solid var(--primary-pink);
  transform: scale(1.03);
}